docs/n8n/news-ingest-scrape-template.json
{
  "name": "CardVerse News Scrape to Draft",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "https://example.com/card-news",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "fetch-list-page",
      "name": "Fetch Source List Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "const html = $json.body || $json.data || '';\nconst links = [...html.matchAll(/href=[\"']([^\"']+)[\"'][^>]*>([^<]{10,})/gi)]\n  .slice(0, 10)\n  .map((match) => {\n    const href = match[1].startsWith('http') ? match[1] : new URL(match[1], 'https://example.com').toString();\n    return { json: { url: href } };\n  });\nreturn links;"
      },
      "id": "extract-article-links",
      "name": "Extract Article Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "fetch-article",
      "name": "Fetch Article",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "jsCode": "const html = $json.body || $json.data || '';\nconst url = $('Extract Article Links').item.json.url;\nconst pick = (regex) => html.match(regex)?.[1]?.replace(/\\s+/g, ' ').trim() || '';\nconst stripTags = (value) => value.replace(/<script[\\s\\S]*?<\\/script>/gi, '').replace(/<style[\\s\\S]*?<\\/style>/gi, '').replace(/<[^>]+>/g, ' ').replace(/\\s+/g, ' ').trim();\nconst title = pick(/<meta[^>]+property=[\"']og:title[\"'][^>]+content=[\"']([^\"']+)[\"']/i) || stripTags(pick(/<h1[^>]*>([\\s\\S]*?)<\\/h1>/i));\nconst excerpt = pick(/<meta[^>]+name=[\"']description[\"'][^>]+content=[\"']([^\"']+)[\"']/i) || pick(/<meta[^>]+property=[\"']og:description[\"'][^>]+content=[\"']([^\"']+)[\"']/i);\nconst imageUrl = pick(/<meta[^>]+property=[\"']og:image[\"'][^>]+content=[\"']([^\"']+)[\"']/i);\nconst body = stripTags(pick(/<article[^>]*>([\\s\\S]*?)<\\/article>/i) || pick(/<main[^>]*>([\\s\\S]*?)<\\/main>/i)).slice(0, 12000);\nreturn [{ json: { sourceUrl: url, sourceName: 'Example Card News', title, excerpt, body, imageUrl, kind: 'NEWS' } }];"
      },
      "id": "map-cardverse-news",
      "name": "Map CardVerse News Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.title }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.sourceUrl }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "has-required-fields",
      "name": "Has Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.CARDVERSE_API_URL || 'http://localhost:4000') + '/internal/news/ingest' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-secret",
              "value": "={{ $env.INTERNAL_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "id": "send-to-cardverse",
      "name": "Send Draft to CardVerse",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, -80]
    }
  ],
  "connections": {
    "Every 6 Hours": {
      "main": [
        [
          {
            "node": "Fetch Source List Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Source List Page": {
      "main": [
        [
          {
            "node": "Extract Article Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Article Links": {
      "main": [
        [
          {
            "node": "Fetch Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Article": {
      "main": [
        [
          {
            "node": "Map CardVerse News Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map CardVerse News Fields": {
      "main": [
        [
          {
            "node": "Has Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Required Fields": {
      "main": [
        [
          {
            "node": "Send Draft to CardVerse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
